#infoElement{
    border-color: black;
    border-style:solid
}

#container-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding-top: 50px;
}

#welcome{
    display: flex;
    flex-basis: 80%;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
}



#information{
    display: flex;
    justify-content: center;
    
    margin: 20px;
    padding: 20px;
    min-width: 300px;
    max-width: 300px;
    border-color: black;
    border-style: solid;


    

}

#expensesTable{
    justify-content: center;
    
}

#addExpenseBtnEl{
        /* background-color: lightblue;
        color: white;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 200px;
        border: solid 2px #C5ADC5; */
}

#addExpenseBtnEl:hover{
    

}

